@page
@model Tabi.IndexModel1

@{
    ViewData["Title"] = "Index";
}
<style>
    body{
        background-color:deepskyblue;
    }
    a#go:link, a#go:visited {
        background-color: lightskyblue;
        color: white;
        border-radius: 12px;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    a#go:hover, a#go:active {
        background-color: #5DADE2;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
</style>
<h1>Your Explored Entries</h1>
<br>
<br>
<body>
<p>
    <a asp-page="Create" style="color:white">Create New Entry</a>
</p>
    <br>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Survey[0].age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Survey[0].size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Survey[0].budget)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Survey[0].planeTicket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Survey[0].duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Survey[0].region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Survey[0].type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Survey) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.budget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planeTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" style="color:white">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID" style="color:white">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID" style="color:white">Delete</a>  -->>>
                <a id="go" asp-page="./Map" asp-route-id="@item.ID" style="color:white">Map</a>

            </td>
        </tr>
}
    </tbody>
</table>
</body>