@page
@model Tabi.Pages.Surveys.MapModel
@{
    ViewData["Title"] = "Map";
}


<style>
    #grad {
        background-color: #AF7AC5
    }

    .myClass {
        color: white;
        background-color: darkslategray;
        padding: 20px;
        text-align: center;
        margin: 10px;
    }

    h1 {
        color: floralwhite;
    }

    h2 {
        color: floralwhite;
        text-decoration: underline;
    }

    a {
        color: floralwhite;
        text-decoration: underline;
    }

    li {
        color: floralwhite;
        text-decoration: underline;
    }

    h5 {
        color: floralwhite;
    }
</style>

<body id="grad">
    <h1>@Html.ViewData.Model.ViewModel.input</h1>
    <br>
    <iframe width="600" height="450" frameborder="0" style="border:0"
            src="@Html.ViewData.Model.ViewModel.center"></iframe>
    <div style="float: right;">

        @if (Html.ViewData.Model.ViewModel.capitol!=null)
        {
        <h5> Capital: <a href="https://localhost:44319/surveys/portfolio/intro?id=@Html.ViewData.Model.ViewModel.capID">@Html.ViewData.Model.ViewModel.capitol</a></h5>
        <br>
        }

        <h5>Popular Cities in @Html.ViewData.Model.ViewModel.input</h5>
        <ul>
            @for (int i = 0; i < Html.ViewData.Model.ViewModel.populars.Count; i++)
            {

            <li><a href="https://localhost:44319/surveys/portfolio/intro?id=@Html.ViewData.Model.ViewModel.ID[i]"> @Html.ViewData.Model.ViewModel.populars[i] </a></li>

            }
        </ul>
    </div>
</body>

