@page
@model Tabi.SaveModel
@{
    ViewData["Title"] = "Save";
}

<style>
    .button {
        background-color: #AED6F1;
        color: white;
        border-radius: 12px;
        padding: 30px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
</style>
<head>
    <style>
        ul#u {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #669900;
            color: floralwhite
        }

        li#l {
            float: left;
            color: floralwhite
        }

            li#l a#h {
                display: block;
                color: floralwhite;
                padding: 14px 16px;
                text-align: center;
                text-decoration: none;
            }

                li#l a#h:hover#h {
                    background-color: #558000;
                }
    </style>
</head>
<ul id="u">
    <li id="l"><a id="h" class="active" href="https://localhost:44319/surveys/portfolio/intro?id=@Html.ViewData.Model.query">Debrief</a></li>
    <li id="l"><a id="h" href="https://localhost:44319/surveys/portfolio/food?id=@Html.ViewData.Model.query">1. Food</a></li>
    <li id="l"><a id="h" href="https://localhost:44319/surveys/portfolio/hotels?id=@Html.ViewData.Model.query">2. Hotels</a></li>
    <li id="l"><a id="h" href="https://localhost:44319/surveys/portfolio/sightseeing?id=@Html.ViewData.Model.query">3. Sightseeing</a></li>
    <li id="l"><a id="h" href="https://localhost:44319/surveys/portfolio/save?id=@Html.ViewData.Model.query">4. Save</a></li>

</ul>





<h1>Save</h1>
@for (int i = Html.ViewData.Model.start; i < Html.ViewData.Model.show.Count(); i++)
{
    <div style="background-color: mediumslateblue; color:white; padding: 20px">
        <h4>@Html.ViewData.Model.show[i].address</h4>
        <h5>@Html.ViewData.Model.show[i].placetype</h5>
        <h5>City: @Html.ViewData.Model.show[i].city</h5>
        <div style="align-items:center; display:flex">
            <img id="image" style="max-height:400px; " src="@Html.ViewData.Model.show[i].imgUrl">
            <iframe id="change"
                    height="400"
                    width="600"
                    frameborder="1" style="margin-left:15px; overflow-wrap:normal; float:right"
                    src="@Html.ViewData.Model.show[i].map" allowfullscreen>
            </iframe>

        </div>
    </div>
}
